# ========================================================
# CẤU HÌNH ENVIRONMENT CHO FRONTEND (VITE)
# ========================================================

# 1. Cấu hình Port cho máy chủ Frontend (mặc định là 3000)
VITE_PORT=3000

# 2. Đường dẫn kết nối tới API Backend
# - Nếu bỏ trống/comment: Hệ thống tự nhận diện theo IP của trình duyệt (Ví dụ: http://10.0.0.235:5000)
# - Nếu khai báo: Sẽ cố định kết nối đến địa chỉ này.
VITE_API_URL=http://localhost:5000

# 3. Khóa bản quyền Syncfusion
VITE_SYNCFUSION_LICENSE=
